$feature-color: orange;
$feature-color-dark: rgb(219, 117, 0);
$highlight-color: rgb(0, 224, 216);
$highlight-color-dark: rgb(0, 161, 182);

#app {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    flex-grow: 1;
    position: relative;
    overflow: auto;
}

.empty-option {
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.col-2, .col-10 {
    padding: 0;
}

// SCROLLBAR CUSTOMIZATION
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(177, 177, 177, 0.35);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    &:window-inactive {
        background-color: rgb(200, 200, 200);
    }
  }