.page-list-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    // background-color: yellow;
    // position: absolute;
    
    .running-total {
        margin-top: 20px;
        text-align: center;
        font-size: 4rem;
        font-weight: 500;
        color: rgb(168, 168, 168);
    }
    
    .page-list {
        margin-top: 10px;
        padding-right: 3px;
        flex: 1;
        overflow: auto;
    
        .list-group {

            .list-group-item {
                padding: 8px;
                text-align: center;
                border: 1px solid rgb(184, 184, 184) !important;
                border-radius: 0px !important;
                &:not(:last-child) {
                    margin-bottom: 3px;
                }
                &:first-child {
                    // border-color: rgb(45, 148, 245) !important;
                }
            }
            .down-arrow {
                margin-bottom: 3px;
                text-align: center;
                font-size: 0.7rem;
                color: rgb(177, 177, 177);
            }
        }
    }
}
