.mask {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
    transition: all 0.3s ease-out;
    .modal-box {
        position: fixed;
        max-height: 50%;
        overflow: auto;
        /* width: 250px; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 500;
        background-color: white;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
        padding: 15px;
        transition: all 0.3s ease-out;
    }
}