@import "../../App.scss";

#chart-canvas {
    user-select: none;
    svg.svg-content {
        border: 1px solid rgba(0,0,0,0.1);
        // background-color: rgb(238, 238, 238);
        cursor: crosshair;
    }
}

.node {
    fill: rgb(200,200,200);
    stroke: white;
    stroke-width: 2px;
    &.highlight {
        stroke: white;
        stroke-width: 3px;
        fill: $highlight-color;
        &.featured {
            fill: $feature-color;
        }
    }
    &.connected {
        fill: white;
        stroke: $highlight-color;
        &.featured {
            fill: white;
            stroke: $feature-color;
        }
    }
    &.featured {
        fill: white;
        stroke: $feature-color;
    }
}

.link {
    stroke: rgba(0,0,0,0.15);
    stroke-width: 2px;
    // stroke-opacity: 1;
    &.featured {
        stroke: $feature-color;
        &.highlight {
            stroke: $feature-color;
            stroke-width: 4;
        }
    }
    &.highlight {
        stroke: $highlight-color;
        stroke-width: 3;
    }
}

.downlight {
    opacity: 0.25;
}

.d3-tooltip {
    // For 'div' text:
    // position: absolute;
    // padding-left: 4px;
    // padding-right: 4px;
    // font-size: 12px;
    // font-weight: 500;
    // color: $highlight-color-dark;
    // background: rgba(255,255,255,0.6);
    // border-radius: 8px;
    // &.featured {
    //     color: $feature-color-dark;
    // }

    // For SVG text:
    text {
        fill: $highlight-color-dark;
        font-size: 12px;
        font-weight: 500;
        &.featured {
            fill: $feature-color-dark;
        }
    }
    rect {
        fill: rgba(255,255,255,0.6);
    }
  }